<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Angular Training</title>
  <script src="../vendor/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="AppCtrl as app">

<input type="text" ng-model="app.newFruit">
<button ng-click="app.addFruitToList(app.newFruit)">Add Fruit</button>
<ul>
  <li ng-repeat="item in app.fruits track by $index">{{$index + 1}} {{item}}</li>
</ul>

<div ng-repeat="fruit in app.fruits track by $index">{{fruit}}</div>

</body>
</html>